body {
    min-height: 100vh;            
    background-image: url("https://res.cloudinary.com/dwzalnlpv/image/upload/v1765009431/background_2_ivgvld.jpg");
    background-size: cover;      
    background-position: center top;
    background-repeat: no-repeat;  
    background-attachment: fixed;   
    
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #000;
}

h1 {
    font-size: 45px;
    margin-top: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #ff8c00, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 
        0 0 10px rgba(255, 165, 0, 0.7),
        0 0 20px rgba(255, 140, 0, 0.5),
        0 0 40px rgba(255, 120, 0, 0.3);

    animation: glow 2.3s infinite ease-in-out;
}

@keyframes glow {
    0% {
        text-shadow: 
            0 0 10px rgba(255, 165, 0, 0.6),
            0 0 20px rgba(255, 140, 0, 0.4),
            0 0 35px rgba(255, 120, 0, 0.25);
    }
    50% {
        text-shadow: 
            0 0 15px rgba(255, 200, 50, 0.8),
            0 0 30px rgba(255, 180, 50, 0.6),
            0 0 50px rgba(255, 160, 0, 0.5);
    }
    100% {
        text-shadow: 
            0 0 10px rgba(255, 165, 0, 0.6),
            0 0 20px rgba(255, 140, 0, 0.4),
            0 0 35px rgba(255, 120, 0, 0.25);
    }
}


.bio-container {
    max-width: 900px;
    margin: auto;
    background: rgba(0,0,0,0.55);
    padding: 20px 30px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 18px;
}


.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4);
    border: 2px solid orange;

    cursor: pointer;
    text-decoration: none;
    z-index: 9999;
    transition: transform 0.2s;
}

.home-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-btn:hover {
    transform: scale(1.1);
}

/* Tooltip */
.tooltip {
    position: absolute;
    left: 80px;
    padding: 8px 14px;
    background: #ffb300;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transform: translateY(-50%);
    top: 50%;
    transition: opacity 0.25s, transform 0.25s;
}

.home-btn:hover .tooltip {
    opacity: 1;
    transform: translateY(-50%) translateX(5px);
}
