body {
    min-height: 100vh;            
    background-image: url("https://res.cloudinary.com/dwzalnlpv/image/upload/v1765006022/background_lzqkl4.jpg");
    background-size: cover;      
    background-position: center top;
    background-repeat: no-repeat;  
    background-attachment: fixed;   
    
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
}



.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4);
    border: 2px solid orange;

    cursor: pointer;
    text-decoration: none;
    z-index: 9999;
    transition: transform 0.2s;
}

.home-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-btn:hover {
    transform: scale(1.1);
}

/* Tooltip */
.tooltip {
    position: absolute;
    left: 80px;
    padding: 8px 14px;
    background: #ffb300;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transform: translateY(-50%);
    top: 50%;
    transition: opacity 0.25s, transform 0.25s;
}

.home-btn:hover .tooltip {
    opacity: 1;
    transform: translateY(-50%) translateX(5px);
}


/* -------- Header -------- */
Header {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 15px 30px;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
}

/* Лого + заголовок в одному рядку */
.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 12px;
}

h1 {
    color: orange;
    margin: 0;
}

/* Меню */
nav {
    display: flex;
    flex-wrap: wrap;      /* дозволяє переноситися */
    gap: 12px;            /* замість марджинів */
}


nav a {
    color: rgb(225, 180, 95);
    text-decoration: none;
    font-size: 16px;
}


nav a:hover {
    text-decoration: underline;
}

/* ---- MAIN ---- */
main {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    margin: 40px;
    border-radius: 12px;
}


