<!DOCTYPE html>
<html lang="uk">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title data-translate="choosed home page"></title>
<link rel="stylesheet" href="../../css/style.css">
<base href="/rif-caffe/">
</head>
<body>

<header id="mainHeader">
    <div class="logo-container">
        <a href="/rif-caffe/"><img src="images/mif.png" alt="Лого"></a>
        <span><a href="/rif-caffe/" data-translate="monastyrska cafe-bakery"></a></span>
    </div>
    <div class ="menu-container">
        <button class="menu-btn" data-translate="menu_btn"></button>
        <div class="dropdown">
            {% for s in sections %}
                <a href="{{ url_for('menu_category', category=s) }}">{{ s }}</a>
            {% endfor %}
        </div>   
    </div>
</header>

<div class="category-block">
    <div class="category-title">
        <img src="{{ back_photos[sections.index(category)] }}" alt="{{ category }}">
        <div class="category-text">{{ category }}</div>
    </div>
</div>

<main>
    <div class="dish-grid">
        {% for dish in dishes %}
        <div class="dish-card">
            <img src="{{ dish.icon_path }}" alt="{{ dish['name'] }}">
            <div class="dish-info">
                <h3>{{ dish['name'] }}</h3>
                <span class="price">{{ dish['price'] }} <span data-translate="uah"></span></span>
                <p>{{ dish['ingredients'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

<script src="js/index.js"></script>

</body>
</html>
