<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <title>Статистика</title>
    <link rel="stylesheet" href="css/stats.css" />
</head>
<body>

<header class="mainHeader">
    <a href="/" class="logo-title">
        <img src="images/logo_orange.png" alt="Logo" class="logo">
        <h1>LeBron James Fan Site</h1>
    </a>

    <div class="menu-wrapper">
        <button id="menu-toggle" class="menu-btn">Меню</button>
        
        <nav id="main-nav" class="nav-menu">
            <a href="/bio">Біографія</a>
            <a href="/stats">Статистика</a>
            <a href="/highlights">Хайлайти</a>
            <a href="/memes">Меми</a>
            <a href="/quiz">Вікторина</a>
            <a href="/shotchart">Візуалізація</a>
        </nav>
    </div>
</header>

<div class="stats-container">

    <!-- Заголовок + перемикач у правому куті -->
    <div class="stats-header">
        <h1 class="stats-title">СТАТИСТИКА ЗА КАР’ЄРУ</h1>
        
        <div class="table-mode">
            <a href="?table=regular" class="{% if selected_table != 'playoff' %}active{% endif %}">
                Регулярний сезон
            </a>
            <a href="?table=playoff" class="{% if selected_table == 'playoff' %}active{% endif %}">
                Плей-офф
            </a>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="stats-table">
            <thead>
                <tr>
                    <th>SEASON</th><th>TEAM</th><th>GP</th><th>GS</th><th>MIN</th>
                    <th>FG</th><th>FG%</th><th>3PT</th><th>3PT%</th><th>FT</th><th>FT%</th>
                    <th>OR</th><th>DR</th><th>REB</th><th>AST</th><th>BLK</th><th>STK</th><th>PF</th><th>TO</th><th>PTS</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.season }}</td>
                    <td>{{ row.team }}</td>
                    <td>{{ row.gp }}</td>
                    <td>{{ row.gs }}</td>
                    <td>{{ row.minutes }}</td>
                    <td>{{ row.fg }}</td>
                    <td>{{ row.fg_pct }}</td>
                    <td>{{ row.three_pt }}</td>
                    <td>{{ row.three_pt_pct }}</td>
                    <td>{{ row.ft }}</td>
                    <td>{{ row.ft_pct }}</td>
                    <td>{{ row.ofens_reb }}</td>
                    <td>{{ row.dr }}</td>
                    <td>{{ row.reb }}</td>
                    <td>{{ row.ast }}</td>
                    <td>{{ row.blk }}</td>
                    <td>{{ row.stl }}</td>
                    <td>{{ row.pf }}</td>
                    <td>{{ row.turnovers }}</td>
                    <td>{{ row.pts }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="js/main.js"></script>
<script src="js/stats.js"></script>
</body>
</html>